.wrapper {
  width: 50%;
  background: skyblue;
}

.gridClass {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.center {
  margin: auto;
  max-width: 400px;
  min-width: 300px;
  padding: 10px;
  text-align: center;
}

.boxy {
  border: dotted red;
}

.gridClass > button {
  background: #eee;
}

p {
  margin: 10px;
  font-size: 5em;
}

.resetButtonGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

.resetButtonGrid > button {
  background: #eee;
  margin-top: 2em;
}
